button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-left-ear,
.button-right-ear,
.button-nose,
.button-paw,
.button-back,
.button-belly {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.button-left-ear {
  top: 10%;
  left: 17%;
  position: absolute;
}

.button-right-ear {
  top: 10%;
  left: 27%;
  position: absolute;
}

.button-nose {
  top: 32%;
  left: 22%;
  position: absolute;
}

.button-paw {
  top: 72%;
  left: 11%;
  width: 6rem;
  position: absolute;
}

.button-back {
  width: 8rem;
  top: 28%;
  left: 45%;
  position: absolute;
}

.button-belly {
  width: 10rem;
  top: 63%;
  left: 42%;
  position: absolute;
}

.mumma-ear,
.mumma-nose,
.mumma-paw {
  display: none;
  width: 90%;
  position: absolute;
}

.mumma-back {
  position: absolute;
  top: 10%;
}
