@keyframes slashAnimationLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  90% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes slashAnimationRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  90% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slash {
  background-color: var(--accent-color);
  width: 200px;
  height: 7px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.slash-container {
  display: none;
  opacity: 0;
  z-index: 70;
  bottom: 30%;
  position: absolute;
}

.right-slash {
  rotate: -45deg;
  animation: slashAnimationRight 0.4s linear forwards;
  animation-delay: 0.4s;
}

.left-slash {
  rotate: 45deg;
  animation: slashAnimationLeft 0.4s linear forwards;
}

.mumma-belly {
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.8s;
}

.mumma-belly h2 {
  color: var(--accent-color);
  font-size: 4rem;
  font-family: var(--notoSerifDisplay);
  font-weight: 300;
  animation-name: fadeIn;
  animation-duration: 5s;
}
