button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-left-ear,
.button-right-ear,
.button-nose,
.button-back,
.button-tail,
.button-belly {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.button-left-ear {
  top: 10%;
  left: 54%;
  position: absolute;
}

.button-right-ear {
  top: 10%;
  left: 61%;
  position: absolute;
}

.button-nose {
  top: 26%;
  left: 58%;
  position: absolute;
}

.button-tail {
  top: 16%;
  left: 36%;
  width: 3rem;
  height: 8rem;
  position: absolute;
}

.button-back {
  top: 28%;
  left: 45%;
  width: 8rem;
  position: absolute;
}

.button-belly {
  top: 55%;
  left: 42%;
  width: 10rem;
  position: absolute;
}

.mumma-ear,
.mumma-nose,
.mumma-tail {
  display: none;
  width: 90%;
  position: absolute;
}

.mumma-message {
  position: absolute;
  top: 10%;
}
